
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 25px 0;
    z-index: 999;
    background-color: white !important;
}


.show__header__shrink {
    padding: 15px 0;
    box-shadow: 0px 0px 10px var(--hoverColor);
    background: var(--secondaryColor);
}

.header__nav__logo {
    font-size: 30px;
    font-weight: 700;
    color: var(--primaryColor);
}


.header__nav__right,
.header__nav__right__list,
.header__nav__right__btns {
    gap: 20px;
}

.header__nav__right__list__item {
    font-size: 18px;
    font-weight: 600;
    padding: 5px 0px;
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    position: relative;
    transition: 0.3s;
    color: var(--primaryColor);
}

.header__nav__right__list__item::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: var(--primaryColor);
    bottom: 0;
    left: 50%;
    border-radius: 0 1px 1px 0;

    transition: 0.3s;
}

.header__nav__right__list__item::before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: var(--primaryColor);
    bottom: 0;
    right: 50%;
    border-radius: 1px 0 0 1px;
    transition: 0.3s;
}

.header__nav__right__list__item:hover {
    color: var(--hoverColor);
}

.header__nav__right__list__item:hover::after,
.header__nav__right__list__item:hover::before {
    width: 50%;
    background: var(--hoverColor);
}

.header__nav__right__list__close {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    color: red;
    display: none;
}


.header__nav__right__btns__contact {
    padding: 6px 13px;
    border: 2px solid var(--primaryColor);
    background-color: transparent;
    border-radius: 2px;
    font-size: 16px;
    font-weight: 600;
    transition: 0.3s;
    color: var(--primaryColor);
}

.header__nav__right__btns__contact:hover {
    border-color: var(--hoverColor);
    background: var(--hoverColor);
    color: var(--secondaryColor);
}

.header__nav__right__btns__hamburger {
    border: none;
    background: transparent;
    display: flex;
    flex-direction: column;
    gap: 5px;
    display: none;

}

.header__nav__right__btns__hamburger span {
    width: 20px;
    height: 2.5px;
    background: var(--primaryColor);
    border-radius: 2px;
    transition: .4s;
}

.header__nav__right__btns__hamburger:hover .header__nav__right__btns__hamburger__line {
    background: var(--hoverColor);
}

.header__nav__right__btns__dark-mode {
    border: none;
    background: transparent;
    color: var(--darkModeColor);
    font-size: 18px;
}

.header__nav__right__btns__dark-mode .fa-sun {
    display: none;
}

.dark .header__nav__right__btns__dark-mode .fa-moon {
    display: none;
}

.dark .header__nav__right__btns__dark-mode .fa-sun {
    display: block;
}

@media (max-width: 700px) {
    .header__nav__right__list {
        position: fixed;
        top: 0;
        left: -100%;
        width: 50%;
        height: 100vh;
        background-color: var(--secondaryColor);
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        box-shadow: 0px 0px 15px var(--hoverColor);
        transition: 0.3s;
        z-index: 9999;
    }

    .header__nav__right__btns {
        gap: 10px;
    }

    .header__nav__right__btns__hamburger {
        display: flex;
    }

    .show__header__nav__right__list {
        left: 0;
    }

    .header__nav__right__list__close {
        display: block;
    }
}